#mainPanel {
	position: fixed;
	display: table;
	bottom: 0;
	width: 100%;
	height: 3.5rem;
	padding: 0 0.5rem;
	z-index: 999999;
	background: $white;
	transform: translateY(0);

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.5;
	}

	> * {
		a {
			position: absolute;
			display: table;
			width: 20%;
			color: $bl33;
			text-decoration: none;
			text-align: center;
			margin-top: 0.25rem;
			top: 0.66rem;
			transition: $transition;

			> * { display: block; }
			i { font-size: 1.33em; }
			span {
				font-size: 0;
				opacity: 0;
				transition: $transition;
			}

			&.active {
				color: $dk;
				top: 0.33rem;

				span {
					font-size: 0.75em;
					opacity: 1;
				}
			}

			&:nth-child(1) { left: 0.5rem; }
			&:nth-child(2) { right: 0.5rem; }
			&:nth-child(3) { left: 20%; }
			&:nth-child(4) { right: 20%; }

		}
	}
}

#mainPanel {

	> * {
		opacity: 0;
		transition: $transition;
		transform: translateY(2rem);
	}

	&[data-state='mainMenu'] {
		#mainNav {
			transform: translateY(-0.5rem);
			opacity: 1;
		}
		#mainButton .icon-plus-squared {
			transform: rotate(360deg);
			opacity: 1
		}

	}

	&[data-state='addRecord'] {
		#addRecordControls {
			opacity: 1;
			transform: translateY(-0.5rem);
		}
		#mainButton .icon-floppy {
			transform: rotate(360deg);
			opacity: 1
		}
	}

}