.categoryPanel {

	$colorHeight: 2.25rem;
	$colorRows: 2;

	$size: 5rem;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $white;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	transform: scale(0);
	transition: $transition;

	&.show {
		opacity: 1;
		transform: scale(1);
		pointer-events: auto;
	}

	.categoryContainer {
		position: absolute;
		width: 100%;
		bottom: $mainButtonsHeight;
		opacity: 0;
		pointer-events: none;
		transform: translateY(0);
		transition: $transition;

		&.show {
			opacity: 1;
			pointer-events: auto;
		}
		&.hideColors {
			transform: translateY( $size*3 + 1rem );

			.categoryIcon { transform: scale(0.75) translateY(-1rem); }
			.categoryName input { transform: scale(1); }
			.categoryColorCircle {
				opacity: 0;
				transform: scale(0);
			}
		}
	}

	.categoryIcon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2em;
		height: 2em;
		margin: (2em/3) auto 0.5rem;
		font-size: $size;
		border-radius: 2em;
		color: $bl;
		background-color: $grey;
		overflow: hidden;
		transform: scale(0.4) translateY(1rem);
		transform-origin: bottom;
		transition: $transition;
	}

	.categoryName {
		input {
			display: block;
			width: 80%;
			margin: auto;
			text-align: center;
			font-size: 1.25rem;
			font-weight: 600;
			@extend .uppercase;

			background: transparent;
			color: $grey-dark;
			border: none;
			// border-bottom: 0.2rem solid transparent;

			transform: scale(0.75);
			transition: $transition;

			&::placeholder { color: $grey; }
			// &:focus { border-bottom: 0.2rem solid; }
		}
    .hiddenInput {
    	position: absolute;
    	opacity: 0;
    	pointer-events: none;
    }
	}

	.categoryColorCircle {
		$size: $size * 3;

		position: relative;
		width: $size;
		height: $size;
		margin: 1.25rem auto 1rem;
		transform: scale(1);
		transform-origin: top center;
		transition: $transition;

		> * { transition: $transition transform; }

		.firstColor {
			position: absolute;
			width: $size * 0.6;
			height: $size * 0.6;
			border-radius: $size/2;
			transform: scale(0.75) translate( $size/3.75, $size/3.75 );

			&.active { transform: scale(1) translate( $size/5, $size/5 ); }
		}
		.sector {
			position: absolute;
			width: $size/2;
			height: $size/2;

			border-top-left-radius: 100%;
			transform-origin: bottom right;
			overflow: hidden;
			pointer-events: none;
		}
		.color {
			position: relative;
			width: $size/2;
			height: $size/2;
			transform-origin: bottom right;
			pointer-events: auto;
		}
	}

	.selectIcon {
		height: 100%;
		background-color: $white;
		opacity: 0;
		transform: scale(3);
		transition: $transition;
		pointer-events: none;

		&.show {
			position: relative;
			z-index: 2;
			opacity: 1;
			transform: scale(1);
			pointer-events: auto;
		}

		.pages {
			position: relative;
			overflow: hidden;
			height: 75%;
		}
		.page {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2rem;
			width: 33.33%;
			height: 19%;
			color: $grey-dark;
		}

		.pagination {
			text-align: center;
			$size: 0.75rem;

			div {
				display: inline-block;
				padding: $size*2 $size/2 $size;
			}
			span {
				display: inline-block;
				width: $size;
				height: $size;
				background-color: $grey;
				border-radius: $size;

				&.active { background-color: $grey-dark }
			}
		}
	}

	.selectGroup {
		$size: 2.5rem;

		position: absolute;
		width: 100%;
		bottom: $mainButtonsHeight;
		left: 0;
		padding: 0 1rem;
		z-index: -99;

		background-color: $white;
		opacity: 0;
		transform: scale(3);
		transition: $transition;
		pointer-events: none;

		&.show {
			z-index: 1;
			opacity: 1;
			transform: scale(1);
			pointer-events: auto;
		}

		.heading {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			padding: 0 1rem;
			text-align: center;
			font-weight: bold;
		}

		.categories,
		.groups {
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			justify-content: space-evenly;
		}

		button,
		.categories .group {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			height: $size;
			width: $size;
			margin: 0 auto $size/2.5;
			font-size: $size/2;
			font-weight: bold;
			background-color: #eceff1;
			color: $grey-dark;
			border-radius: $size;
			box-shadow: $box-shadow;

			pointer-events: auto;
			overflow: hidden;
		}
		button.disabled {
			color: $grey;
			pointer-events: none;
		}

		.group {
			display: flex;
			flex-direction: column;
		}
		.reverse {
			display: flex;
			flex-direction: column-reverse;
		}
		.categories .group {
			$height: $size * 8;

			position: relative;
			justify-content: flex-end;
			height: $height;
			margin: 0 auto;
			box-shadow: none;
			overflow: hidden;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: -100%;
				width: 300%;
				height: 100%;
				box-shadow: 0 $size*3 ($height*0.5) 0 $white inset;
			}
			&.blank {
				opacity: 0;
				pointer-events: none;
			}
		}
		.catIcon {
			font-size: $size/2;
			padding: 0.5em;
			margin-bottom: 0.5em;
			background-color: $superwhite;
		}
	}

}