.catIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;

	border-radius: 50%;
	color: $bl;
	padding: 0.25em;
	transition: $transition;

	&:before {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
	}
}

.categoriesField {
	.catIcon {
		&:before {
			background: $white;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 2rem;
			font-size: 1.25rem;
		}
	}
}