body {
	// font-family: 'Open Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: $white;
	color: $grey-dark;
	overflow-x: hidden;
}

* { -webkit-tap-highlight-color: transparent; }

main {
	padding: 4.5rem 0 5.5rem;
	transition: $transition;

	//&.noTopPanel { transform: translateY(-3.5rem) }
}

button {
	border: none;
	outline: none !important;
	background: transparent;
}

.panel {
	box-shadow: $box-shadow;
}

.mono, .money {
	font-family: 'Ubuntu Mono', monospace;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.025em;
}

.icon-cancel-thin {
	position: relative;

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 2rem;
		height: 0.2rem;
		transform: rotate(45deg);
		border-radius: 0.2rem;
	}
	&:after {
		transform: rotate(-45deg) translate( 0.1rem, 0.1rem )
	}
}