.dateSelect {

	$pad-bottom: 4.5rem;
	$height: $recordPanelHeight / 2 + $recordPanelHeight / 28;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: fixed;
	height: $height;
	bottom: $pad-bottom;
	left: 0;
	visibility: hidden;
	padding: 1rem;
	pointer-events: none;

	&.show {
		visibility: visible;
		pointer-events: auto;
	}

	> * {
		height: $height;
		overflow: hidden;
		width: 140%;
	}
	.yearAndMonth {
		display: flex;
		flex-shrink: 2;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;

		text-align: center;
		font-size: 1rem;
		font-weight: bold;
		@extend .uppercase;

		.select.months {
			position: relative;
			top: -0.8rem;
		}

		.wrap {
			position: relative;

			$offset: 1.5rem;

			div{
				z-index: 2;
				width: 100%;
				position: absolute;
				pointer-events: none;
				opacity: 0;
				transform: scale(1) translateY(0);
				transition: $transition transform,opacity;

				&:nth-child(3) {
					opacity: 1;
				}
				&:nth-child(2),
				&:nth-child(4) { opacity: 0.33; }
				&:nth-child(2) { transform: scale(0.66) translateY(-$offset); }
				&:nth-child(4) { transform: scale(0.66) translateY($offset); }

				&:nth-child(1) { transform: scale(0.5) translateY(-$offset*2); }
				&:nth-child(5) { transform: scale(0.5) translateY($offset*2); }
			}
		}

		button {
			$size: 2.25rem;

			width: $size;
			height: $size;
			line-height: $size;
			position: relative;
			font-size: 0.66rem;
			color: $grey;
			cursor: pointer;
			opacity: 0.5;

			&.up { top: 0.1rem }
			&.down { bottom: -0.8rem }
			&.up i { top: -0.5rem }
			&.down i { bottom: -0.33rem }

			i {
				position: relative;
				&:hover { background-color: transparent; }
			}
		}
	}


	.daySelect {
		flex-grow: 2;
		display: flex;
		justify-content: center;
		align-items: center;

		.day {
			$daySize: 2rem;
			$border: 0.133rem;

			display: inline-block;
			width: 14%;
			height: $daySize;
			line-height: $daySize - 0.1rem;
			border-radius: $daySize;
			font-size: 0.75rem;
			font-weight: 700;
			text-align: center;
			border: $border dotted transparent;
			cursor: pointer;

			&.dayOfOtherMonth {
				color: $grey;
			}
			&.today {
				border: $border dotted $grey;
			}
			&:hover { background-color: $grllt; }
			&.active {
				background-color: $themeColor;
				color: $superwhite;
				border: $border dotted transparent;
			}
		}
	}

}