@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?63464003');
  src: url('./font/fontello.eot?63464003#iefix') format('embedded-opentype'),
       url('./font/fontello.woff2?63464003') format('woff2'),
       url('./font/fontello.woff?63464003') format('woff'),
       url('./font/fontello.ttf?63464003') format('truetype'),
       url('./font/fontello.svg?63464003#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?77213380#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-android:before { content: '\f17b'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-ballon:before { content: '\e816'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-book:before { content: '\e821'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e853'; } /* '' */
.icon-cart:before { content: '\e817'; } /* '' */
.icon-chair:before { content: '\e81a'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-child:before { content: '\e81c'; } /* '' */
.icon-clean:before { content: '\e81d'; } /* '' */
.icon-clock:before { content: '\e819'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-credit-card-alt:before { content: '\f283'; } /* '' */
.icon-cut:before { content: '\e81f'; } /* '' */
.icon-cw:before { content: '\e802'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-down-small:before { content: '\e806'; } /* '' */
.icon-dress:before { content: '\e820'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-flight:before { content: '\e811'; } /* '' */
.icon-floppy:before { content: '\e80a'; } /* '' */
.icon-flowerpot:before { content: '\e825'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-gift:before { content: '\e822'; } /* '' */
.icon-glass:before { content: '\e855'; } /* '' */
.icon-globe-1:before { content: '\e829'; } /* '' */
.icon-graduation-cap:before { content: '\e80d'; } /* '' */
.icon-handshake:before { content: '\e823'; } /* '' */
.icon-heart:before { content: '\e80f'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-home:before { content: '\e812'; } /* '' */
.icon-idea:before { content: '\e827'; } /* '' */
.icon-info:before { content: '\e813'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-leaf:before { content: '\e81e'; } /* '' */
.icon-left-small:before { content: '\e807'; } /* '' */
.icon-lips:before { content: '\e82a'; } /* '' */
.icon-list:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e814'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-mountain:before { content: '\e828'; } /* '' */
.icon-music:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e856'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-pencil:before { content: '\e82f'; } /* '' */
.icon-pig:before { content: '\e82b'; } /* '' */
.icon-plus:before { content: '\e852'; } /* '' */
.icon-right-small:before { content: '\e808'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-shirt:before { content: '\e82c'; } /* '' */
.icon-signal-2:before { content: '\e81b'; } /* '' */
.icon-skate:before { content: '\e82d'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-sofa:before { content: '\e82e'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-star:before { content: '\e800'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-sun-filled:before { content: '\e80c'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-up-small:before { content: '\e809'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-wallet:before { content: '\e824'; } /* '' */
.icon-webmoney:before { content: '\e830'; } /* '' */
.icon-weight:before { content: '\e831'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-working:before { content: '\e832'; } /* '' */
.icon-wrench:before { content: '\e80e'; } /* '' */
.icon-yandex-rect:before { content: '\f306'; } /* '' */