.mainButtons {
	position: fixed;
	display: table;
	width: 100%;
	bottom: 0;
	padding: 10rem 0 0;
	left: 0;
	z-index: 999;
	pointer-events: none;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		box-shadow: 0 -5rem 5rem 0 $white inset;
		opacity: 0.75;
	}

	&.hide {
		&:before{ box-shadow: 0 0 8rem -5rem transparent inset; }
		button { transform: scale(0); }
	}

	.wrap {
		display: table-cell;
		width: 33.33%;
		font-size: 1rem;
		padding: 1rem;
		text-align: center;
		transform: scale(1);
		transition: $transition;
		vertical-align: middle;
		pointer-events: none;

		&.inactive {
			button{
				pointer-events: none;
				position: relative;

				&:after { opacity: 0.66; }
			}
			#mainButton {	background-color: $grey !important;}
		}
		&.hide {
			transform: scale(0)
		}
	}

	button {
		$size: 2.5rem;

		position: relative;
		display: inline-table;
		height: $size;
		width: $size;
		margin: auto;
		text-align: center;
		background-color: $white;
		color: $grey-dark;
		box-shadow: $box-shadow;
		border-radius: $size;
		line-height: 1;
		pointer-events: auto;
		transition: $transition;
		overflow: hidden;

		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: $white;
			opacity: 0;
			pointer-events: none;
			transition: $transition;
		}

		> * {
			$isize: 0.75rem;

			display: block;
			position: absolute;
			left: $isize;
			top: $isize;
			transition: $transition;
		}
		i {
			&:before {
				margin: 0;
				padding: 0;
			}
		}
		span {
			width: 100%;
			top: 0;
			left: 0;
			line-height: $size;
			font-size: 0.575rem;
			font-weight: 600;
			@extend .uppercase;

			&.categoryGroup {
				font-size: 1.5rem;
			}
		}
		img { max-width: 100%; }

	}

	.colorPick {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(
			to right,
			$grey-bright 0%,
			$red-bright 10%,
			$orange-bright 20%,
			$yellow-bright 30%,
			$green-bright 40%,
			$sea-bright 50%,
			$teal-bright 60%,
			$blue-bright 70%,
			$purple-bright 80%,
			$pink-bright	90%,
			$grey-bright 100%
		);
	}
}

#mainButton {
	$bsize: 3.5rem;

	font-size: $bsize - 0.5rem;
	width: $bsize;
	height: $bsize;
	background-color: $themeColor !important;
	color: $wh;

	&:after { background-color: $grey; }
	i { font-size: 2rem; }
	span {
		top: 0;
		line-height: $bsize;
	}
}

.mainButtons {
	&[data-state='listPage'] {
	}

	&[data-state='recordAdd'] {
		&:before { box-shadow: 0 0 8rem -4rem transparent inset; }
  }
}
