.recordPanel {

	$height: $recordPanelHeight;
	$border-width: 0.18rem;

	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: $height;
	background: $superwhite;
	z-index: 999;
	transform: translateY(100vh);
	transition: $transition;

	&.show { transform: translateY($height/2); }
	&.show.showCalcOrCatSelect { transform: translateY(0); }
	&.show .recordPanelOverlay {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: -100%;
		left: 0;
	}

	> * {
		display: block;
		width: 100%;
	}

	.closeButton {
		position: absolute;
		width: 3rem;
		height: 3rem;
		top: 0;
		left: 0;
		overflow: hidden;

		button {
			position: absolute;
			top: -1.2rem;
			left: -1.2rem;
			z-index: 2;
			font-size: 1.5rem;
			line-height: 0.5;
			padding: 2rem;
			width: 4rem;
			height: 4rem;
			background-color: $white;
			color: $grey;
			border-radius: 50%;
		}
		span {
			position: absolute;
			top: 2rem;
			left: 2rem;
		}
	}

	.moneyField {
		position: relative;
		z-index: 1;
		display: table;
		background-color: #fff;
		cursor: pointer;
		transition: $transition;

		&.error { background-color: $red; }

		* {
			text-align: right;
		}

		> * {
			display: table-cell;
			position: relative;
		}

		.field {
			padding: 0.5rem 0.25rem;
			position: relative;

			&.showSumm { padding: 0.5rem 0.25rem 0.75rem; }
		}

		.expression {
			display: block;
			position: absolute;
			right: 0.125rem;
			width: 100%;
			font-size: 1.75rem;
			font-weight: bold;
			padding-left: 4rem;
			padding-right: 0.66rem;
			border: none;
			outline: none;
			font-family: monospace;
			color: $grey-dark;
			transition: $transition;

			&.showSumm { font-size: 1.25rem; }
			&.error { background-color: $red; }
		}

		.bottomline {
			display: table;
			position: absolute;
			right: 0.75rem;
			bottom: 0.33rem;
			font-size: 0.75rem;
			font-weight: bold;
			color: $grey-dark;
			white-space: nowrap;
			overflow: hidden;
			opacity: 0;
			transition: $transition;

			&.showSumm { opacity: 1 }
		}

		.plusminus {
			width: 4rem;
			text-align: left;
			vertical-align: middle;

			.wrap {
				display: inline-block;
				position: relative;
				width: 2.5rem;
				height: 3rem;
				left: 0.25rem;
				margin: auto;
			}
			.plus { background-color: $whitegreen; }
			.minus { background-color: $whitered; }
			.back {
				display: block;
				position: absolute;
				width: 1rem;
				height: 2rem;
				left: 0.66rem;
				top: 0.66rem;
				border-radius: 1rem;
				box-shadow: $box-shadow inset;
				transition: $transition;
			}
			.handle {
				display: block;
				position: absolute;
				width: 1.5rem;
				height: 1.5rem;
				left: 0.45rem;
				top: 0.33rem;
				border-radius: 1rem;
				box-shadow: $box-shadow;
				transition: $transition;

				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 0.75rem;
					height: 0.125rem;
					top: 0.66rem;
					left: 0.375rem;
					border-radius: 1rem;
					background-color: $bl33;
					transition: $transition;
				}
			}
			.handle.plus {
				top: 1.5rem;

				&:after { transform: rotate(90deg); }
			}
		}

	}

	.nameAndCat {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		height: 4rem;
		background-color: #fff;

	}

	.categoriesField {
		position: relative;
		width: 10.75rem;
		height: 4rem;
		flex-shrink: 0;
		background: #fff;
		overflow: hidden;

		> * {
			position: absolute;
			display: flex;
			right: 1rem;
			top: 0.5rem;
			width: 3rem;
			height: 3rem;
			cursor: pointer;

			opacity: 1;
			transition: $transition;
			transform-origin: center right;

			&.inactive {
				opacity: 0;
				pointer-events: none;
			}

			&:nth-child(2) { transform: scale(0.75) translateX(-5rem);  }
			&:nth-child(3) { transform: scale(0.75) translateX(-9rem); }
			&:nth-child(4) { transform: scale(0.75) translateX(-12rem); 	 }

		}
		.addCategory{
			&.initial { transform: scale(1) translateX(0); }
			i { border: none; }
		}
		span {
			color: $grey;
			text-align: center;
			font-size: 0.66rem;
			font-weight: bold;
			top: 2em;
			right: 3em;
			@extend .uppercase;

			&.initial { transform: scale(1) translateX(-3.5rem); }
		}
	}

	.name {

		input {
			width: 100%;
			display: block;
			padding: 0.5rem 0 0.5rem 1rem;
			border: 0;
			outline: none !important;
			overflow: hidden;
			font-weight: bold;

			&::placeholder { color: $grey }
		}

	}

	.calculator {
		padding: 1rem 1.33rem 1rem 0.66rem;
		color: #3b4c54;
		display: none;
		pointer-events: none;
		transition: none;

		&.show {
			display: block;
			pointer-events: auto;
		}

		.row {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			> div {
				padding: 0.25rem;
				cursor: pointer;
				flex-grow: 1;

				&:first-child { flex-grow: 2; }
				&:first-child b { background-color: $grllt; }
				&:hover b { background-color: $grey; }
				&:active b { background-color: $lt; }
			}
		}
		b {
			$calcButtonSize: 2.5rem;

			display: block;
			font-size: $calcButtonSize*0.6;
			width: $calcButtonSize;
			height: $calcButtonSize;
			line-height: $calcButtonSize;
			margin: auto;
			text-align: center;
			border-radius: $calcButtonSize;
		}

	}

	.addCategory {
		color: $grey;
		border: $border-width dotted;

		i{
			color: $grey;
			border: $border-width dotted;
		}
		&:before { background-color: transparent; }
		&.initial { transform: scale(1) translateX(0); }
	}

	.catSelect {
		display: none;
		height: $height/2;
		pointer-events: none;

		&.show {
			display: block;
			pointer-events: auto;
		}

		.flex {
			display: flex;
			padding: 0.33rem 0 0.33rem 1.66rem;
		}
		.groups,
		.categories {
			overflow-x: hidden;
			overflow-y: scroll;
			text-align: right;
			padding-right: 1rem;
		}

		.groups {
			flex-direction: column;
			width: 5rem;
			overflow: hidden;

			div {
				$size: 2.5rem;

				width: $size;
				height: $size;
				line-height: $size*0.8;
				margin: $size/5;
				font-size: $size*0.6;
				border: $size/10 solid;
				border-radius: $size;
				font-weight: bold;
				text-align: center;
				color: $grey;

				// &:first-child { margin-top: 0; }
				// &:last-child { margin-bottom: 0; }
				&.active { color: $grey-dark; }
				&.disabled {
					pointer-events: none;
					cursor: not-allowed;
					opacity: 0.25;
				}
			}
			i:before { margin: 0; }
		}

		.categories {
			flex-grow: 2;
			width: calc(100% - 1.75rem);
			max-height: $height/2 - 0.5rem;
			padding: 0 0.2rem;

			.group {
				display: flex;
				flex-wrap: wrap;

				.addCategory {
					border: none;

					i { padding: 0; }
					i:before {
						transform: scale(0.9);
						font-size: 1.072rem;
					}
				}

				> div {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 4rem;
					margin: 0.4rem 0.1rem;
					cursor: pointer;
					transition: $transition;
				}
				span {
					max-width: 100%;
					margin-top: 0.25em;
					font-size: 0.66rem;
					font-weight: bold;
					text-align: center;
					word-wrap: break-word;
					@extend .uppercase;
					transition: $transition;
				}
			}
		}

		.selected{
			transform: scale(1.15);

			.catIcon {
				box-shadow: $box-shadow;
				&:before { background-color: $white; }
			}
			span { opacity: 0; }
		}

		.catIcon {
			display: inline-block;
			text-align: center;
			box-shadow: 0 0 0 transparent;

			&:before {
				background-color: transparent;
				padding: 0.5em;
				width: 1em;
				height: 1em;
				line-height: 1em;
				border-radius: 50%;
				transition: $transition;
			}
		}
	}

}