#recordsList {

	.sign .catIcon:not(.sub) { box-shadow: none; }

	@media ( min-width: 30rem ) { // 640

		.record {
			&.plus { background: linear-gradient(-90deg, $white, $whitegreen 25%, $white 50% ); }
			&.minus {	background: linear-gradient(90deg, $white, $whitered 25%, $white 50% ); }
		}

	}

}

// #recordsCategoriesList {

// 	@media ( min-width: 40rem ) { // 640
// 	}

// 	.head,
// 	.body {
// 		display: flex;
// 		flex-direction: row;
// 		align-items: flex-start;
// 		height: calc(100% - 3rem);
// 	}
// 	.body { margin-top: 3.25rem; }

// 	.category {
// 		display: table;
// 		position: relative;
// 		min-width: 3.5rem;
// 		padding: 0.25rem;
// 		text-align: center;

// 		&:first-child { padding-left: 1rem; }
// 		&:last-child { padding-right: 1rem; }
// 	}

// 	.head {
// 		position: fixed;
// 		width: 100%;
// 		height: 3.25rem;
// 		z-index: 9;
// 		text-align: center;
// 		box-shadow: 0 0 0 0 transparent;
// 		transition: box-shadow $transition;

// 		&.cover {
// 			background-color: $white;
// 			box-shadow: $box-shadow;

// 			h3 { box-shadow: 0 0 0 0 transparent; }
// 		}

// 		h3 {
// 			position: absolute;
// 			width: 100%;
// 			min-width: 3rem;
// 			margin: 0.25rem auto;
// 			padding: 0.25em;
// 			border-radius: 2em;
// 			transition: $transition;
// 		}
// 		.catIcon { color: $white; }
// 		span { display: none; }
// 	}

// 	.record {
// 		padding: 0.25rem 0;
// 		background: none;

// 		&.plus .money{
// 			background-color: transparent !important;
// 			color: $white;
// 			text-shadow: $text-shadow;
// 		}

// 		time,
// 		.catIcon,
// 		.name { display: none; }
// 		.sign {
// 			display: inline-flex;
// 			width: auto;
// 			float: none;
// 		}
// 		.color.dark { display: block; }
// 		.color:not(.dark) { display:none; }
// 	}

// }