$recordWidth: 14rem;

.record {
	display: table;
	width: 100%;
	padding: 0.25rem 1rem;
	clear: both;
	transition: $transition;

	time {
		position: absolute;
		font-size: 0.66rem;
		font-weight: 600;
		color: $grey;
		opacity: 0.5;
		transition: $transition;

		&.active {
			opacity: 1;
			color: $black;
		}
	}

	.sign {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		width: $recordWidth;
		margin: auto;
		padding: 0.125rem;
		z-index: 2;
		font-weight: 600;
		cursor: pointer;
		transition: $transition;

		.color {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			border-radius: 2rem;
			overflow: hidden;

			&.dark { display: none; }
			&.white {
				background-color: $white;
				z-index: 2;
			}
		}
		.catIcon {
			width: 2rem;
			height: 2rem;
			position: relative;
			z-index: 4;

			&.sub {
				position: absolute;
				transform: scale(0.75);
				top: -0.33em;
				right: -1em;
				padding: 0;
				width: 2em;
				height: 2em;
				font-size: 0.66rem;
				color: $white;
				box-shadow: $box-shadow;

				&:nth-child(2) {
					top: auto;
					bottom: -0.33em;
				}
			}
		}

		.name {
			color: $grey-dark;
			position: relative;
			padding: 0 0.5rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: $transition;
			z-index: 4;
		}

		.money {
			position: relative;
			flex-shrink: 0;
			min-width: 2rem;
			padding: 0.45em;
			border-radius: 2rem;
			color: $grey-dark;
			text-align: center;
			font-weight: 900;
			z-index: 4;
			transition: $transition;

			&:before { display: inline; }
		}
	}

	////////////////////////////////////////////////////// PLUS MINUS ////////////////////////////////////////////////////////

	&.plus,
	&.minus {
		position: relative;

		&:before,
		&:after {
			opacity: 0;
			content: '';
			display: block;
			position: absolute;
			z-index: -2;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: $transition;
		}
	}
	&.plus:after { background: linear-gradient(-90deg, $white, $whitegreen 5%, $white 50% ); }
	&.minus:before {	background: linear-gradient(90deg, $white, $whitered 5%, $white 50% ); }
	&.plus:after,
	&.minus:before { opacity: 1; }
	.money.plus:before { content: '+'; }
	.money.minus:before { content: '-'; }
	&.neutral:not(.selected) {
		.sign{
			.color.white {
				display: block;
				background-color: $superwhite;
			}
		}
	}

	&.plus time {	transform: translateX( -4.5rem ); }
	&.minus time { transform: translateX( 14.5rem ); }

	&.minus .sign { transform: translateX( -2rem ); }
	&.plus .sign { transform: translateX( 2rem ); }

	///////////////////////////////////////////////////////// SELECTED /////////////////////////////////////////////////

	&.selected {
		background: linear-gradient(-90deg, $grey, $grey 5%, $grey 50% );

		&.plus .money { color: $green-bright; }
		&.minus .money { color: $red-bright; }
	}

	&:not(.selected) {
		.sign {
			.color.white { display: none; }
			.catIcon:not(.sub) {
				background-color: $white !important;
				color: $black !important;
			}
			.name { color: $bl66 }
		}
		&.plus, &.minus {
			.money { background-color: $white !important; }
		}
	}

	/////////////////////////////////////////////// DELETED & INACTIVE /////////////////////////////////////////////////

	&.deleted {
		background: linear-gradient(-90deg, $white, $white 5%, $white 50% );
		height: 2.125rem;
		opacity: 0.25;

		time { opacity: 0; }
		.sign { transform: scale(0.75) translate(-2.5rem, -0.5rem); }
	}

	&.inactive {
		opacity: 0.25;
		pointer-events: none;
	}

	////////////////////////////////////////////////////////// GROUPS ///////////////////////////////////////////////////

	&.group {
		padding: 0 1rem;
		background: linear-gradient(-90deg, $white, $white 5%, $white 50% );

		time { opacity: 0; }
		.sign {
			width: 100%;

			.color { border-radius: 0; }
			.name { font-size: 0.75rem; }
		}
		.sign:not(.group) {
			.catIcon {
				opacity: 0;
				padding: 0 0.25em;
				height: 0;
			}
			.money {
				transform: scale(0.75);
				padding: 0 0.25rem;
			}
		}
		.sign.group {
			.color { border-radius: 1.25rem 1.25rem 0 0; }
			.name { font-size: 1rem; }
		}
		&.end .sign .color { border-radius: 0 0 1.25rem 1.25rem; }


		&.start {	padding: 0.25rem 1rem 0; }
		&.end { padding: 0 1rem 0.25rem; }

	}

	&:not(.group) {
		.sign.group {
			height: 0;
			opacity: 0;
			padding-top: 0;
			padding-bottom: 0;

			.name { font-size: 0; }
			.catIcon,
			.money { height: 0; }
		}
	}
}

.group-btn {
	padding: 0 0 0.5rem;
	font-size: 0.75rem;
	font-weight: 600;
	text-align: center;
	color: $grey;
	cursor: pointer;
	width: $recordWidth;
	transition: $transition;

	&.active {
		width: 100%;
		background: linear-gradient(-90deg, $white, $white 5%, $white 50% );

		.group { display: none; }
		.ungroup { display: inline; }
	}
	.ungroup { display: none; }
}