.topPanel {
	position: fixed;
	display: table;
	width: 100%;
	padding: 0.5rem 1rem;
	z-index: 999;
	background-color: $themeColor;
	color: $wh;
	transition: $transition;

	&.hide {
		transform: translateY(-3.75rem) !important;
	}

	.main {
		display: table-row;

		> * {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.balance {
		.name {
			font-size: 0.66rem;
			font-weight: 600;
			padding-bottom: 0.25rem;
		}
		.money {
			display: table;
			color: $dk;
			font-weight: bold;

			> * {
				display: table-cell;
				vertical-align: top;
				text-align: right;
			}
		}
		.summ {
			font-size: 1.25rem;
			padding-right: 0.5rem;
			vertical-align: middle;
		}
		.plusminus {
			font-size: 0.66rem;
		}
		.plus:before { content: '+'; }
		.minus:before { content: '-'; }
	}

	.icons {
		font-size: 1.5rem;
		text-align: right;

		span {
			display: inline-block;
			padding: 0.5rem 0.25rem;
			color: $lt;
		}
	}

}