@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
.blink { animation: blink 0.8s infinite linear;  }

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.scale-enter-active, .scale-leave-active {
  transition: opacity 0.3s;
}
.scale-enter, .scale-leave-to  {
  opacity: 0;
  transform: scale(0);
  // transform: rotate(-360deg);
}
.scale-enter-to, .scale-leave {
	opacity: 1;
  transform: scale(1);
  // transform: rotate(0);
}

.records-move {}
.records-enter-to, .records-leave {
  opacity: 1;
}
.records-enter {
  transform: translateY(-3rem);
  opacity: 0;
}
.records-leave-to  {
  transform: translateX(100vw);
  opacity: 0;
}
.records-enter-active {}
.records-leave-active {
  position: absolute !important;
}