$recordPanelHeight: 25.5rem;
$mainButtonsHeight: 5rem;

$transitionTime: 0.3s;
$transition: $transitionTime ease-in-out;
// $box-shadow: 0 0.125rem 0 rgba(0, 0, 0, 0.125);
$box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
// $box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
$text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
$text-shadow-wh: 0 0.25rem 0.5rem rgba(255, 255, 255, 0.25);

$wh: rgba( 255, 255, 255, 0.9 );
$lt: rgba( 255, 255, 255, 0.75 );
$grllt: rgba( 0, 0, 0, 0.025 );
$grlt: rgba( 0, 0, 0, 0.1 );
$bl25: rgba( 0, 0, 0, 0.25 );
$bl33: rgba( 0, 0, 0, 0.33 );
$bl50: rgba( 0, 0, 0, 0.50 );
$bl66: rgba( 0, 0, 0, 0.66 );
$dk: rgba( 0, 0, 0, 0.75 );
$bl: rgba( 0, 0, 0, 0.9 );

$superwhite: #fff;
$white: #eceff1;
$black: #263238;
$whitegreen: #c8e6c9;
$whitered: #ffdbdf;
$lightgreen: #49de4d;
$lightred: #de6d6d;
$grey-dark: #3b4c54;

$grey: 		hsl( 200, 16, 82 ); // #cad4d8;
$red: 		hsl(   1, 59, 79 ); // #e9abaa;;  65  74
$orange: 	hsl(  36, 78, 77 ); // #f2cd97;  86  72
$yellow: 	hsl(  50, 73, 81 ); // #f2e6ab;  82  77
$green: 	hsl(  91, 39, 78 ); // #c6ddb1;  44  73
$sea: 		hsl( 175, 28, 68 ); // #97c4c0;  29  60
$teal: 		hsl( 187, 60, 77 ); // #a1dfe8;  64  72
$blue: 		hsl( 211, 50, 73 ); // #98b9dd;  53  67
$purple: 	hsl( 288, 40, 75 ); // #cfa6d9;  42  68
$pink: 		hsl( 338, 58, 83 ); // #edbbcd;  67  80

$grey-bright: 	#607D8B; // hsl( 200, 16, 78 ); // #607D8B;
$red-bright: 		#e53935; // hsl(   1, 65, 74 ); // #e53935;
$orange-bright: #FF9800; // hsl(  36, 86, 72 ); // #FF9800;
$yellow-bright: #FDD835; // hsl(  49, 82, 77 ); // #FDD835;
$green-bright: 	#8BC34A; // hsl(  90, 44, 73 ); // #8BC34A;
$sea-bright: 		#00796B; // hsl( 174, 29, 60 ); // #00796B;
$teal-bright: 	#26C6DA; // hsl( 187, 64, 72 ); // #26C6DA;
$blue-bright: 	#1565C0; // hsl( 211, 53, 67 ); // #1565C0;
$purple-bright: #9C27B0; // hsl( 290, 42, 68 ); // #9C27B0;
$pink-bright: 	#F06292; // hsl( 339, 67, 80 ); // #F06292;

$themeColor: $yellow-bright;

.red { background-color: $red; }
.orange { background-color: $orange; }
.yellow { background-color: $yellow; }
.green { background-color: $green; }
.sea { background-color: $sea; }
.teal { background-color: $teal; }
.blue { background-color: $blue; }
.purple { background-color: $purple; }
.pink { background-color: $pink; }
.grey { background-color: $grey; }

.red, .orange, .yellow, .green, .sea, .teal, .blue, .purple, .pink, .grey, .black, .white {
	color: $bl;
	// box-shadow: $box-shadow;
}

.red-text { color: $red !important; }
.orange-text { color: $orange !important; }
.yellow-text { color: $yellow !important; }
.green-text { color: $green !important; }
.sea-text { color: $sea !important; }
.teal-text { color: $teal !important; }
.blue-text { color: $blue !important; }
.purple-text { color: $purple !important; }
.pink-text { color: $pink !important; }
.grey-text { color: $grey !important; }

.themeBg {
	background-color: $themeColor;
	color: #fff;
}
.themeText { color: $themeColor; }