<template>

  <section
    class="categoryPanel"
    :class="{
      show:
        state == 'categoryAdd' ||
        state == 'categoryEdit',
    }"
    @scroll.prevent.stop="prevent()"
    @mousewheel.prevent.stop="prevent()"
    @touchmove.prevent.stop="prevent()"
  >

    <section
      class="categoryContainer"
      :class="{
        hideColors: localState == 'categoryName',
        show:
          localState != 'selectIcon' &&
          localState != 'selectIconInitial' &&
          localState != 'selectGroup',
      }"
    >

      <section
        class="categoryIcon"
        :style="{ backgroundColor: colors.pale[categoryColor] }"
        @click="changeLocalState('selectIcon')"
      >
        <i v-show="categoryIcon" :class="'icon-'+categoryIcon" ></i>
        <i v-show="!categoryIcon" class="icon-help"></i>
      </section>

      <form
        class="categoryName"
        @submit.stop="unFocusName($event)"
      >
        <input
          v-model="categoryName"
          ref="categoryName"
          :style="{ color: categoryNameFieldColor }"
          :class="{ active: localState == 'categoryName' }"
          type="text"
          placeholder="Название"
          @focus="changeLocalState('categoryName')"
          @blur="changeLocalState('categoryColor')"
        >
      </form>

      <section class="categoryColorCircle">
        <div
          v-for="color, index in colorsArray"
          v-if="index != 0"
          class="sector"
          :style="{ transform: 'rotate(' + angle*index + 'deg) scale(' + colorScale(color) + ')' }"
          :class="{ active: categoryColor == colorsArray[index] }"
        >
          <div
            class="color"
            :style="{
              backgroundColor: colors.pale[color],
              transform: 'rotate(' + angleSubtracted + 'deg)'
            }"
            @click="categoryColor = color"
          ></div>
        </div>
        <div
          class="firstColor"
          :style="{ backgroundColor: colors.pale[ colorsArray[0] ] }"
          :class="{ active: categoryColor == colorsArray[0] }"
          @click="categoryColor = colorsArray[0]"
        ></div>
      </section>

    </section>


    <section
      class="selectIcon"
      :class="{
        show:
          localState == 'selectIcon' ||
          localState == 'selectIconInitial'
      }"
      @scroll.stop.capture="scrollByScreen( $event )"
      @mousewheel.stop.capture="scrollByScreen( $event )"
      @mousedown.stop.capture="moveIconsPage( $event )"
      @touchstart.stop.capture="moveIconsPage( $event )"
      @touchmove.stop.capture="moveIconsPage( $event )"
      @touchend.stop.capture="moveIconsPage( $event )"
    >

      <section class="pagination">
        <div
          v-for="page, index in icons"
          @click="selectIconsPage(index)"
        >
          <span
            :class="{ active: index == currentIconsPage }"
          ></span>
        </div>
      </section>

      <section class="pages">
        <div
          v-for="page, index in icons"
          class="page"
          :style="getIconsPageCoord(index)"
        >
          <article
            v-for="icon in page"
            class="icon"
            @click.stop.capture="selectIcon(icon)"
          >
            <i :class="'icon-'+icon"></i>
          </article>
        </div>
      </section>


    </section>

    <section
      class="selectGroup"
      :class="{ show: localState == 'selectGroup' }"
    >

      <div class="categories">
        <div
          v-for="group in groups"
          class="group"
          :class="{ blank: ! Object.keys( group.categories ).length }"
          @click="selectCatGroup( group.id )"
        >
          <div class="reverse">

            <div
              class="category"
              v-for="id in group.categories"
              v-if="id != 0"
            >
              <i
                class="catIcon"
                :class="[
                  categories[id].icon,
                  categories[id].color + '-text',
                ]"
                :title="categories[id].name"
              ></i>

            </div>

            <div
              class="category"
              v-if="! Object.keys( group.categories ).length"
            >
              <i class="catIcon blank"></i>
            </div>

          </div>
        </div>
      </div>

      <div class="groups">
        <button
          v-for="group in groups"
          :class="{
            active: categoryGroup == group.id,
            inactive: Object.keys( group.categories ).length = 0,
            disabled: group.id == 999,
          }"
          @click="selectCatGroup( group.id )"
        >
          <i
            v-show="group.icon.length > 1"
            class="icon"
            :class="'icon-'+group.icon"
          ></i>
          <span v-if="group.icon.length == 1">{{ group.icon }}</span>
        </button>
      </div>

      <div class="heading">
        Выберите группу
      </div>

    </section>


  </section>

</template>

<script>
import prepareTestingData from '../functions/prepareTestingData'
import dateHumanize from '../functions/dateHumanize'
import dateSelect from './dateSelect'

let touchCurrent, touchInitial, delta

export default {
  name: 'categoryPanel',
  components: {
    dateSelect
  },

  data () {
    return {
      title: 'Новая категория',

      categoryIcon: '',
      categoryName: '',
      categoryColor: 'grey',

      icons: [],
      currentIconsPage: 0,
      iconsPageOffset: 0,
      iconsPageTransition: 'none',

      forceShowColors: false,
    }
  },


  computed: {

    appState() { return store.state.appState },
    state() { return store.state.categoryPanelState },
    localState() { return store.state.categoryPanelLocalState },
    localStatePrevious() { return store.state.categoryPanelLocalStatePrevious },

    categoryGroup() { return store.state.currentCategoryGroup },
    categories() { return store.state.categories },
    groups() { return store.state.groups },

    colors() { return store.state.colors },
    colorsArray() {
      let colorsArray = []
      let keys = Object.keys( store.state.colors.pale )
      for( let i=0; i < keys.length; i++ ){
        let key = keys[i]
        colorsArray.push(key)
      }
      return colorsArray
    },

    categoryNameFieldColor() {
      let panel = this
      if( panel.localState == 'categoryName' ){
        return panel.colors.neutral.greyDark
      }else{
        return panel.colors.pale[ panel.categoryColor ]
      }
    },

    angle() {
      let qty = Object.keys( store.state.colors.pale ).length - 1
      return 360 / qty
    },
    angleSubtracted() { return 90 - this.angle },

  },


  created() {
    let panel = this

    panel.getIcons()
  },

  watch: {

    localState() {
      let panel = this

      if(debug) console.log( 'categoryPanel localState changed:', panel.localState, 'prev:', panel.localStatePrevious )
      switch( panel.localState ){
        case 'categoryName':
          Vue.nextTick( function() {
            panel.$refs.categoryName.focus()
          })
        break
        case 'categoryColor':
          if(
            panel.localStatePrevious == 'selectIcon' ||
            panel.localStatePrevious == 'selectIconInitial'
          ){
            if( panel.categoryName == '' ){
              panel.$refs.categoryName.focus()
            }
          }
        break
      }
    },

  },

  methods: {

    getIcons() {
      let panel = this
      let data = prepareTestingData()

      panel.icons = data.icons
    },

    changeLocalState(value) {
      if(debug) console.log('changeLocalState fired:', value )
      store.commit( 'setCategoryPanelLocalState', value )
    },

    unFocusName(event) {
      let panel = this
      panel.prevent(event)
      panel.changeLocalState('')
      panel.$refs.categoryName.blur();
    },

    prevent(event) {
      if(debug) console.log('prevent fired')
        if(debug) console.log('event:', event)
      event.preventDefault()
      event.stopPropagation()
      return false
    },

    moveIconsPage(event) {
      let panel = this

      // console.log( 'startMove', event.type )
      switch( event.type ){

        case 'touchstart':
          touchInitial = event.touches[0].screenX
        break

        case 'touchmove':
          touchCurrent = event.touches[0].screenX
          delta = touchCurrent - touchInitial
          panel.iconsPageOffset = delta
        break

        case 'touchend':
          panel.setIconsPage()
        break

      }
    },

    setIconsPage() {
      let panel = this
      let screenWidth = window.innerWidth
      let limit = screenWidth / 2
      let value = panel.iconsPageOffset

      panel.iconsPageTransition = defaultTransition
      // if(debug) console.log( 'setIconsPage', panel.iconsPageTransition )

      if( Math.abs( value ) > limit ){
        if( value < 0 ){ // moving right
          if( panel.currentIconsPage < panel.icons.length - 1 ){
            panel.currentIconsPage = panel.currentIconsPage + 1
          }
        }
        if( value > 0 ){ // moving left
          if( panel.currentIconsPage > 0 ){
            panel.currentIconsPage = panel.currentIconsPage - 1
          }
        }
      }

      panel.iconsPageOffset = 0

      Vue.nextTick( function() {
        setTimeout( function() {
          panel.iconsPageTransition = 'none'
          if(debug) console.log( 'setIconsPage', panel.iconsPageTransition, 'transitionTime', transitionTime )
        }, transitionTime*1000 )
      })
    },

    scrollByScreen( event, vertical = false ) {
      // if(debug) console.log( 'scrollByScreen fired', event.type, event )
      event.preventDefault()
      event.stopPropagation()
      let element = event.target

      let screenWidth = window.innerWidth
      let position = element.scrollLeft
      let limitLeft = Math.floor( position / screenWidth ) * screenWidth
      let limitRight = Math.floor( position / screenWidth ) * screenWidth + screenWidth
      let scrollLimit = element.scrollWidth - screenWidth

      let shouldScrollRight = position > limitLeft && position < limitRight - screenWidth/2
      let shouldScrollLeft = position < limitRight && position > limitLeft + screenWidth/2

      let animationDuration = 500
      window.animationInProcess = ( ! window.animationInProcess ) ? false : true
      window.animationTimestamp = ( ! window.animationTimestamp ) ? 0 : window.animationTimestamp

      if( event.timeStamp > ( window.animationTimestamp + animationDuration ) ){

        if(debug) console.log(
          limitLeft,
          position,
          limitRight,
          '|', scrollLimit,
          ( shouldScrollLeft ) ? 'shouldScrollLeft' : '',
          ( shouldScrollRight ) ? 'shouldScrollRight' :'',
          'inProcess', animationInProcess
        )

        switch( event.type ){

          case 'scroll':
          break
          case 'mousewheel':

          break

          default:
          break
        }
      }else{
        if( ! animationInProcess ){
          if(debug) console.log( 'preventing' )
          event.preventDefault()
        }
      }

      if( shouldScrollRight ){
        // scrollRightByScreen()
      }
      if( shouldScrollLeft ){
        // scrollLeftByScreen()
      }

      function scrollRightByScreen() {
        if(debug) console.log( 'scrollRight to', limitRight )
        window.animationInProcess = true
        window.animationTimestamp = performance.now()
        element.scroll({ left: limitRight, behavior: 'smooth' })
        delayAnimationStop()
      }

      function scrollLeftByScreen() {
        if(debug) console.log( 'scrollLeft to', limitLeft )
        window.animationInProcess = true
        window.animationTimestamp = performance.now()
        element.scrollTo( limitLeft - screenWidth, 0 )
        delayAnimationStop()
      }

      function delayAnimationStop() {
        setTimeout( function() {
          window.animationInProcess = false
        }, animationDuration)
      }
    },

    getIconsPageCoord(page) {
      let panel = this
      let pageCoord
      let width = window.innerWidth
      let curPage = panel.currentIconsPage

      if( curPage == page ){
        pageCoord = 0
      }

      if( curPage < page ){
        pageCoord = - (curPage - page) * width
      }

      if( curPage > page ){
        pageCoord = - (curPage - page) * width
      }

      let value = pageCoord + panel.iconsPageOffset
      // if(debug) console.log( 'coords', page, 'of', panel.icons.length, value )
      return 'transform: translateX('+value+'px); transition:'+panel.iconsPageTransition
    },

    selectIconsPage(page) {
      let panel = this
      panel.iconsPageTransition = defaultTransition
      panel.currentIconsPage = page
      setTimeout( function() {
        panel.iconsPageTransition
      }, transitionTime )
    },

    selectIcon(icon) {
      let panel = this
      if(debug) console.log( 'selectIcon:', icon, panel.categoryName == '' )
      panel.categoryIcon = icon
      panel.checkIfCategoryNameIsBlank()
    },

    checkIfCategoryNameIsBlank() {
      let panel = this
      if( panel.categoryName == '' ){
        panel.$refs.categoryName.focus()
        panel.changeLocalState('categoryName')
      }else{
        panel.changeLocalState('categoryColor')
      }
    },

    colorScale(color) {
      if( color == this.categoryColor ){
        return 1.125
      }else{
        return 1
      }
    },

    selectCatGroup( groupId ) {
      let panel = this
      if(debug) console.log( 'selectCatGroup fired', groupId )
      store.commit( 'setCurrentCategoryGroup', groupId )
      panel.checkIfCategoryNameIsBlank()
    },


  }
}
</script>
