<template>

  <section
    ref="dateSelect"
    class="dateSelect"
    :class="{ show: show }"
  >

    <div class="yearAndMonth">

      <div class="select">
        <button @click="yearPrev()" class="up">
          <i class="icon-up-open"></i>
        </button>

        <div class="wrap">
          <transition-group name="years">
            <div
              v-for="year in yearsRow"
              :id="year"
              :key="year"
            >{{ year }}</div>
          </transition-group>
        </div>

        <button @click="yearNext()" class="down">
          <i class="icon-down-open"></i>
        </button>
      </div>

      <div class="select months">
        <button @click="monthPrev()" class="up">
          <i class="icon-up-open"></i>
        </button>

        <div class="wrap">
          <transition-group name="years">
            <div
              v-for="month in monthRow"
              :id="month"
              :key="month"
            >{{ monthFromNumber(month) | capitalize  }}</div>
          </transition-group>
        </div>

        <button @click="monthNext()" class="down">
          <i class="icon-down-open"></i>
        </button>
      </div>

    </div>

    <div class="daySelect">
      <div class="wrap">

        <div
          :id="'prev'+day"
          v-for="day in daysBefore"
          class="day dayOfOtherMonth"
          @click.prevent="selectDay( $event, day, 'prev' )"
        >{{ day }}</div>

        <div
          v-for="day in days"
          class="day"
          :class="{
            active: selectedDay == day,
            today: day == todayDay && selectedMonth == todayMonth
          }"
          @click.prevent="selectDay( $event, day)"
        >{{ day }}</div>

        <div
          :id="'next'+day"
          v-for="day in daysAfter"
          class="day dayOfOtherMonth"
          @click.prevent="selectDay( $event, day, 'next' )"
        >{{ day }}</div>

      </div>
    </div>

  </section>

</template>

<script>
import dateMonthFromNumber from '../functions/dateMonthFromNumber'
import dateToFormat from '../functions/dateToFormat'

let date = new Date()

export default {
  name: 'dateSelect',


  data () {
    return {
      selectedDay: 1,
      selectedMonth: 1,
      selectedYear: 2017,

      days: [],
      daysBefore: [],
      daysAfter: [],
      months: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ],

      yearsRow: [],
      monthRow: [],
    }
  },


  computed: {
    show() { return this.recordPanelState == 'selectDate' },
    appState() { return store.state.appState },
    recordPanelState() { return store.state.recordPanelState },
    currentRecord() { return store.state.records[ this.currentRecordPosition ] },
    currentRecordPosition() { return store.state.currentRecordPosition },

    todayDay() { return store.state.todayDay },
    todayMonth() { return store.state.todayMonth },
    todayYear() { return store.state.todayYear },
  },


  watch: {

    selectedMonth: function() { this.recountDaysShown() },
    selectedYear: function() { this.recountDaysShown() },
    show: function() { this.initDays() }

  },


  created() {
    let calendar = this

    // calendar.initDays()

  },


  methods: {

    monthFromNumber(number) { return dateMonthFromNumber(number) },
    daysInMonth( month, year ) { return new Date( year, month, 0 ).getDate() },

    initDays( date = new Date() ) {
      let calendar = this
      // let daysQty = new Date( calendar.todayYear, calendar.todayMonth, 0 ).getDate()

      // if(debug) console.log( 'initDays fired', calendar.todayYear+'-'+calendar.todayMonth+'-'+calendar.todayDay, "daysQty", daysQty )

      switch( calendar.appState ){
        case 'recordAdd':
          calendar.selectedYear = calendar.todayYear
          calendar.selectedMonth = calendar.todayMonth
          calendar.selectedDay = calendar.todayDay
        break

        case 'recordEdit':
          calendar.selectedYear = calendar.currentRecord.datetime.replace( dateRegExp, '$1')
          calendar.selectedMonth = Number( calendar.currentRecord.datetime.replace( dateRegExp, '$2') )
          calendar.selectedDay = calendar.currentRecord.datetime.replace( dateRegExp, '$3')
        break
      }
      if( calendar.appState == '' )

      calendar.recountDays()
      calendar.recountDaysBeforeAndAfter()
      calendar.prepareMonthRow()
      calendar.prepareYearRow()
    },

    recountDaysShown() {
     let calendar = this
     // if(debug) console.log('----------------recountDaysShown fired----------------\n', new Date( calendar.selectedYear, calendar.selectedMonth - 1, 1 ) )
      Vue.nextTick( function() {
        calendar.recountDays( new Date( calendar.selectedYear, calendar.selectedMonth - 1, 1 ) )
        calendar.recountDaysBeforeAndAfter( new Date( calendar.selectedYear, calendar.selectedMonth - 1, 1 ) )
      })
    },

    recountDays( date = new Date() ) {
      let calendar = this
      let day = date.getUTCDate()
      let month = calendar.selectedMonth
      let year = calendar.selectedYear
      let daysQty = new Date( year, month, 0 ).getDate()

      calendar.days = []

      // if(debug) console.log( 'recountDays fired:', year+'-'+month+'-'+day, "daysQty:", daysQty )

      for( let i=1; i <= daysQty; i++ ){
        let day = i
        calendar.days.push(day)
      }
    },

    recountDaysBeforeAndAfter( date = new Date ) {
      let calendar = this
      let month = calendar.selectedMonth
      let year = calendar.selectedYear
      let firstWeekDay = new Date(year, month-1, 1).getDay()
      let lastWeekDay = new Date(year, month, 0).getDay()

      firstWeekDay = ( firstWeekDay == 0 ) ? 7 : firstWeekDay
      lastWeekDay = ( lastWeekDay == 0 ) ? 7 : lastWeekDay

      // if(debug) console.log( 'recountDaysBeforeAndAfter fired', year+'-'+month+'-'+date.getUTCDate(), 'firstWeekDay:', firstWeekDay, 'lastWeekDay:', lastWeekDay )

      calendar.daysBefore = []
      calendar.daysAfter = []

      let daysBefore
      if( firstWeekDay != 1 ){
        daysBefore = firstWeekDay-1
      }else{
        daysBefore = 7
      }

      for( let i=0; i > -daysBefore; i-- ){
        let newDay = new Date(year, month-1, i).getDate()
        calendar.daysBefore.unshift(newDay)
      }

      let daysAfter
      if( lastWeekDay != 7 ){
        daysAfter = 7-lastWeekDay
      }else{
        daysAfter = 7
      }

      for( let i=1; i <= daysAfter; i++ ){
        let newDay = new Date(year, month+1, i).getDate()
        calendar.daysAfter.push(newDay)
      }

      // Add 6th row
      let daysCount = calendar.days.length + calendar.daysBefore.length + calendar.daysAfter.length
      if( daysCount <= 35 ){
        // if(debug) console.log( 'daysCount == 35, adding 6ths row. First daysBefore:', calendar.daysBefore[0] )
        let firstWeekDayBefore = calendar.daysBefore[0]
        for( let i=1; i <= 7; i++ ){
          let newDay = firstWeekDayBefore - i
          calendar.daysBefore.unshift(newDay)
        }
      }
    },


    prepareMonthRow() {
      let calendar = this
      let row = []
      let month = calendar.selectedMonth
      row.push( month )

      switch( month){

        case 1:
          row.unshift(12)
          row.unshift(11)
          row.push(2)
          row.push(3)
        break

        case 2:
          row.unshift(1)
          row.unshift(12)
          row.push(3)
          row.push(4)
        break

        case 11:
          row.unshift(10)
          row.unshift(9)
          row.push(12)
          row.push(1)
        break

        case 12:
          row.unshift(11)
          row.unshift(10)
          row.push(1)
          row.push(2)
        break

        default:
          row.unshift( month - 1 )
          row.unshift( month - 2 )
          row.push( month + 1 )
          row.push( month + 2 )
      }

      // if(debug) console.log( "month", month, "monthRow", row )

      for( let i=0; i < row.length; i++ ){
        Vue.set( calendar.monthRow, i, row[i] )
      }
    },

    prepareYearRow() {
      let calendar = this
      let row = []
      let year = calendar.selectedYear

      row.push( year - 2 )
      row.push( year - 1 )
      row.push( year )
      row.push( year + 1 )
      row.push( year + 2 )

      for( let i=0; i < row.length; i++ ){
        Vue.set( calendar.yearsRow, i, row[i] )
      }
    },


    selectDay( event, day, month ) {
      let calendar = this

      switch( month ){

        case 'prev':
          if( calendar.selectedMonth != 1 ){
            month = calendar.selectedMonth - 1
            calendar.monthPrev()
          }else{
            month = 12
          }
        break

        case 'next':
          if( calendar.selectedMonth != 12 ){
            month = calendar.selectedMonth + 1
            calendar.monthNext()
          }else{
            month = 1
          }
        break

        default: month = calendar.selectedMonth
      }

      calendar.selectedDay = day
      calendar.selectedMonth = month
      calendar.putNewDateIntoNewRecord()
    },

    monthPrev() {
      let calendar = this
      let newMonth

      switch( calendar.selectedMonth ){

        case 3:
          calendar.selectedMonth = calendar.selectedMonth - 1
          newMonth = 12
        break

        case 2:
          calendar.selectedMonth = calendar.selectedMonth - 1
          newMonth = 11
        break

        case 1:
          calendar.selectedMonth = 12
          calendar.yearPrev()
          newMonth = 10
        break

        default:
          calendar.selectedMonth = calendar.selectedMonth - 1
          newMonth = calendar.selectedMonth - 2
      }

      calendar.monthRow.unshift( newMonth )
      calendar.monthRow.pop()
      calendar.putNewDateIntoNewRecord()
    },

    monthNext() {
      let calendar = this
      let newMonth

      switch( calendar.selectedMonth ){

        case 12:
          calendar.selectedMonth = 1
          newMonth = calendar.selectedMonth + 2
          calendar.yearNext()
        break

        case 11:
          calendar.selectedMonth = calendar.selectedMonth + 1
          newMonth = 2
        break

        case 10:
          calendar.selectedMonth = calendar.selectedMonth + 1
          newMonth = 1
        break

        default:
          calendar.selectedMonth = calendar.selectedMonth + 1
          newMonth = calendar.selectedMonth + 2
      }

      calendar.monthRow.push( newMonth )
      calendar.monthRow.shift()
      calendar.putNewDateIntoNewRecord()
    },

    yearPrev() {
      let calendar = this
      calendar.selectedYear--
      calendar.yearsRow.unshift( calendar.selectedYear - 2 )
      calendar.yearsRow.pop()
      calendar.putNewDateIntoNewRecord()
    },

    yearNext() {
      let calendar = this
      calendar.selectedYear++
      calendar.yearsRow.push( calendar.selectedYear + 2 )
      calendar.yearsRow.shift()
      calendar.putNewDateIntoNewRecord()
    },

    putNewDateIntoNewRecord() {
      let calendar = this
      let time
      let id = calendar.currentRecord.id
      if( calendar.currentRecordPosition == 0 ){
        // new record
        time = new Date()
        time = time.getHours() + ':' + time.getMinutes() + ':' + time.getSeconds()
      }else{
        time = '23:59:59.999Z'
      }
      let datetime = calendar.selectedYear+'-'+calendar.selectedMonth+'-'+calendar.selectedDay+'T'+time
      let change = { datetime: dateToFormat(datetime) }
      store.commit( 'changeRecord', change )
      Vue.nextTick( function() {
        store.commit( 'sortRecords' )
        store.commit( 'updateCurrentRecordPosition', true )
        Vue.nextTick( function() {
          store.commit( 'scrollToCurrentRecord' )
        })
      })
    },

  },


}
</script>
