<template>

  <div>

    <main
      :class="{
        noTopPanel: forceTopPanelHide,
        noScroll: noScroll,
      }"
      :style="{
        height: listHeight
      }"
    >

      <transition name="fade">
        <section
          id="recordsList"
          v-show="! showRecordsByCategory"
        >

          <transition-group name="records" tag="div">

            <article
              v-for='rec, index in records'
              :id=" 'record' + rec.id "
              :key="rec.id"
              :class="[
                rec.finalsign,
                {
                  inactive: noScroll && index != currentRecordPosition,
                  selected: recordsSelected[ rec.id ]
                }
              ]"
              class="record"
            >
              <div
                class="sign"
                @click="selectRecord( rec.id )"
              >
                <time
                  :datetime="rec.datetime"
                  :class="{ active: dateSelectState == 'selectDate' }"
                >{{ dateHumanize( rec.datetime ) }}</time>
                <div class="color white"></div>
                <div
                  class="color"
                  v-show="categories[ rec.categories[0] ].color != 'white'"
                  :class="categories[ rec.categories[0] ].color"
                ></div>
                <i
                  class="catIcon"
                  :class='categories[ rec.categories[0] ].icon + " " + categories[ rec.categories[0] ].color'
                >
                  <i
                    v-for="catId in rec.categories"
                    v-if="catId != rec.categories[0] "
                    class="catIcon sub"
                    :class='categories[catId].icon + " " + categories[catId].color'
                  ></i>
                </i>
                <span class="name">{{ rec.name }}</span>
                <span
                  class="money"
                  :class="{
                    minus: rec.price != '0' && rec.finalsign == 'minus',
                    plus: rec.price != '0' && rec.finalsign == 'plus',
                  }"
                >{{ rec.price }}</span>
              </div>
            </article>

          </transition-group>

        </section>
      </transition>

      <transition name="fade">
        <section id="recordsCategoriesList" v-show="showRecordsByCategory">

          <div class="head">
            <div class="category" v-for="cat in categoriesOrdered">
              <h3
                class="glued-heading"
                :class="cat.color">
                <i
                  class="catIcon"
                  :class="'icon-' + cat.icon"
                ></i>
                <span>{{ cat.name }}</span>
              </h3>
            </div>
          </div>

          <div class="body">
            <div
              class="category"
              v-for="cat in categoriesOrdered"
            >
              <article
                class="record"
                :class="rec.finalsign"
                v-for="rec in records"
                v-if=" rec.categories[0]  == cat.id"
              >
                <time :datetime="rec.date">{{ dateHumanize( rec.datetime ) }}</time>
                <div class="sign">
                  <div class="color white"></div>
                  <div
                    class="color"
                    :class="categories[ rec.categories[0] ].color"
                  ></div>
                  <div
                    class="color dark"
                    :class="categories[ rec.categories[0] ].color"
                  ></div>
                  <i
                    class="catIcon"
                    :class='"icon-"+categories[ rec.categories[0] ].icon + " " + categories[ rec.categories[0] ].color'
                  >
                  </i>
                  <span
                    class="name"
                    :class='categories[ rec.categories[0] ].color + "-text"'
                  >{{ rec.name }}</span>
                  <span
                    class="money"
                  >{{ rec.price }}</span>
                </div>
              </article>
            </div>
          </div>

        </section>
      </transition>

    </main>

    <record-panel></record-panel>
    <category-panel></category-panel>

  </div>

</template>

<script>
import recordPanel from './recordPanel'
import categoryPanel from './categoryPanel'

import dateHumanize from '../functions/dateHumanize'
import performAction from '../functions/performAction'
import prepareTestingData from '../functions/prepareTestingData'

export default {
  name: 'List',
  components: {
    recordPanel,
    categoryPanel,
  },
  data () {
    return {
      title: 'Лента',
      showRecordsByCategory: false,
      listHeight: 'auto',
    }
  },
  computed: {

    appState() { return store.state.appState },
    dateSelectState() { return store.state.dateSelectState },

    records() { return store.state.records },
    recordsSelected() { return store.state.recordsSelected },
    currentRecordPosition() { return store.state.currentRecordPosition },
    categories() { return store.state.categories },

    categoriesOrdered() {
      let cats = this.categories
      let sortedCats = []
      for( let i=0; i < Object.keys(cats).length; i++){
        for( let id in cats ){
          let cat = cats[id]
          if( cat.order == i+1 ){
            sortedCats.push(cat)
            break
          }
        }
      }
      return sortedCats;
    },

    forceTopPanelHide() { return store.state.forceTopPanelHide },
    noScroll() {
      let noScroll;
      switch( this.appState ) {
        case 'listPage':
        case 'listOneRecordSelected':
        case 'listMultipleRecordsSelected': noScroll = false; break;
        default: noScroll = true
      }
      // if(debug) console.log( 'noScroll?', noScroll )
      return noScroll
    },

  },
  watch: {

    appState: function() {
      if(debug) console.log('CHEKING LIST HEIGHT')
      if( this.appState == 'recordAdd' || this.appState == 'recordEdit' ){
        let listHeight = document.querySelector('main').offsetHeight
        let viewportHeight = window.innerHeight
        this.listHeight = (listHeight + viewportHeight) + 'px'
      }else{
        this.listHeight = 'auto'
      }
      if(debug) console.log( 'LISTHEIGHT =', this.listHeight )
    },

    records: function() {
      this.checkIfNoRecords()
    }

  },
  created() {
    let page = this;

    document.title = this.title+store.state.titleAdd
    window.scrollTo(0,0)
    store.commit( 'changePageToGo', 'list' )

    page.prepareData()

    // store.commit('sortRecords')
    page.checkIfNoRecords()
    // Vue.nextTick( function() {
    //   page.glueCategories()
    // });

  },
  methods: {

    prepareData() {
      let data = prepareTestingData()

      // preparing categories and groups
      for( let id in data.categories ){
        data.categories[id].selected = false
      }

      // preparing records
      for( let i in data.records ){
        data.records[i].selected = false
        data.records[i].negative = false
        data.records[i].deleted = false
        data.records[i].finalsign = data.records[i].sign
      }

      store.commit( 'prepareData', data )
      store.commit( 'recountBalance')
    },

    checkIfNoRecords() {
      if(debug) console.log('checkIfNoRecords')
      if( ! this.records.length ){
        store.commit('showBlankRecord')
      }
    },

    dateHumanize(date) { return dateHumanize(date) },

    selectRecord(id) {
      if( ! this.records[0].blankRecord ){
        store.commit( 'selectRecord', id )
      }else{
        performAction( 'recordAdd', true )
      }
    },

    glueCategories() {
      let recordsCategoriesList = document.getElementById('recordsCategoriesList');
      let headCategories = recordsCategoriesList.querySelectorAll('.head .category');
      let headH3 = recordsCategoriesList.querySelectorAll('.head .category h3');
      let bodyCategories = recordsCategoriesList.querySelectorAll('.body .category');

      for( let i=0; i < headCategories.length; i++ ) {
        let headCat = headCategories[i];
        let bodyCat = bodyCategories[i];

        let padLeft = new Number( window.getComputedStyle(bodyCat, null).getPropertyValue('padding-left').replace(/px/,'') );
        let padRight = new Number( window.getComputedStyle(bodyCat, null).getPropertyValue('padding-right').replace(/px/,'') );
        let width = bodyCat.offsetWidth;


        // console.log( "width", width, padLeft, padRight );
        if( i != headCategories.length - 1 ){
          headCat.style.width = width+"px";
          headH3[i].style.width = (width - padLeft - padRight) + "px";
        }else{
          headCat.style.width = (width+padLeft*4)+"px";
          headH3[i].style.width = (width - padLeft - padRight) + "px";
        }
      }

      recordsCategoriesList.onscroll = function() {
        let recordsListWidth = document.getElementById('recordsList').offsetWidth;
        let head = recordsCategoriesList.querySelectorAll('.head')[0];
        let scrollTop = recordsCategoriesList.scrollTop;
        let scrollLeft = recordsCategoriesList.scrollLeft;

        // console.log( "scrollLeft", scrollLeft, "recordsListWidth", recordsListWidth);
        head.style.left = (-scrollLeft + recordsListWidth) + "px";

        if( scrollTop > 0 ){
          head.classList.add('cover');
        }else{
          head.classList.remove('cover');
        }
      }

    },
  }
}
</script>
