<template>

  <section
    class="mainButtons"
    :data-state="appState"
  >

    <div
      class="wrap"
      :class="{
        hide:
          actions.second == '' ||
          actions.second == 'chartPage',
        inactive:
          (appState == 'recordAdd' || appState == 'recordEdit') && recordPanelState == 'init',
      }"
    >

      <button
        id="secondButton"
        @click="performAction( actions.second )"
      >

        <transition name="scale">
          <i v-show="actions.second == 'chartPage'" class="icon-chart-pie"></i>
        </transition>

        <transition name="scale">
          <span v-show="actions.second == 'saveYesterday'">вчера</span>
        </transition>

        <transition name="scale">
          <i class="icon-left-small" v-show="
            actions.second == 'cancelAnotherDate' ||
            actions.second == 'unselectRecords' ||
            actions.second == 'cancelCategoryAdd' ||
            actions.second == 'cancelCategoryEdit' ||
            actions.second == 'cancelSelectIcon'
          "></i>
        </transition>

        <transition name="scale">
          <i v-show="
            actions.second == 'deleteRecord'
            "
            class="icon-trash"
          ></i>
        </transition>

      </button>
    </div>

    <div
      class="wrap"
      :class="{
        hide: actions.main == '',
        inactive:
          (appState == 'recordAdd' || appState == 'recordEdit') && recordPanelState == 'init',
      }"
    >
      <button
        id="mainButton"
        type="submit"
        @click="performAction( actions.main )"
        @submit="performAction( actions.main )"
      >

        <transition name="scale">
          <i v-show="actions.main == 'recordAdd'" class="icon-plus small"></i>
        </transition>

        <transition name="scale">
          <span v-show="actions.main == 'saveToday'">сегодня</span>
        </transition>

        <transition name="scale">
          <i v-show="actions.main == 'saveAnotherDate'" class="icon-ok small"></i>
        </transition>

        <transition name="scale">
          <i v-show="actions.main == 'recordEdit'" class="icon-pencil small"></i>
        </transition>

        <transition name="scale">
          <i
            class="icon-floppy small"
            v-show="
              actions.main == 'saveRecord' ||
              actions.main == 'saveCategory'
            "
          ></i>
        </transition>

        <transition name="scale">
          <i v-show="actions.main == 'saveRecord'" class="icon-floppy small"></i>
        </transition>

      </button>

    </div>

    <div
      class="wrap"
      :class="{
        hide:
          actions.third == '' ||
          actions.third == 'settingsPage',
        inactive:
          (appState == 'recordAdd' || appState == 'recordEdit') && recordPanelState == 'init',
      }"
    >
      <button
        id="thirdButton"
        @click.stop.prevent="performAction( actions.third )"
      >

        <transition name="scale">
          <i v-show="actions.third == 'settingsPage'" class="icon-cog"></i>
        </transition>

        <transition name="scale">
          <i v-show="actions.third == 'selectAnotherDate'" class="icon-calendar"></i>
        </transition>

        <transition name="scale">
          <i v-show="
            actions.third == 'deleteRecords' ||
            actions.third == 'deleteRecord'
            "
            class="icon-trash"
          ></i>
        </transition>

        <transition name="scale">
          <span v-show="actions.third == 'showSelectGroup'" class="categoryGroup">{{ groups[ currentCategoryGroup ].icon }}</span>
        </transition>

        <transition name="fade">
          <!-- <span v-show="actions.third == 'showColors'" class="colorPick"></span> -->
          <span v-show="actions.third == 'showColors'"><img src="../assets/colors.svg" alt="color circle colors icon"></span>
        </transition>

        <transition name="scale">
          <i v-show="actions.third == 'cancelSelectGroup'" class="icon-right-small"></i>
        </transition>

      </button>
    </div>

  </section>

</template>

<script>
import performAction from '../functions/performAction'

export default {
  name: 'mainButtons',


  data () {
    return {
      actions: {
        main: 'recordAdd',
        second: 'chartPage',
        third: '',
      },
    }
  },


  computed: {
    appState() { return store.state.appState },
    topPanelHeight() { return store.state.topPanelHeight },
    recordPanelState() { return store.state.recordPanelState },
    categoryPanelState() { return store.state.categoryPanelState },
    categoryPanelLocalState() { return store.state.categoryPanelLocalState },
    dateSelectState() { return store.state.dateSelectState },

    currentCategoryGroup() { return store.state.currentCategoryGroup },
    groups() { return store.state.groups }
  },


  created() {
    let mainButtons = this;
    Vue.nextTick( function() {
      mainButtons.getActions()
    });
  },


  watch: {

    appState: function() { this.getActions() },
    recordPanelState: function() { this.getActions() },
    categoryPanelState: function() { this.getActions() },
    categoryPanelLocalState: function() { this.getActions() },
    dateSelectState: function() { this.getActions() },

  },


  methods: {

    getActions() {
      let panel = this
      let newActions;
      let timeout = 10

      setTimeout( function() {
        if(debug) console.log(
          'getActions',
          '\nappState:', panel.appState,
          '\nrecordPanelState:', panel.recordPanelState,
          '\ncategoryPanelState:', panel.categoryPanelState,
          '\ncategoryPanelLocalState:', panel.categoryPanelLocalState,
          '\ndateSelectState:', panel.dateSelectState,
        )

        switch( panel.appState ) {

          case 'listPage':
            newActions = {
              second: 'chartPage',
              main: 'recordAdd',
              third: 'settingsPage',
            }
          break
          case 'listOneRecordSelected':
            newActions = {
              second: 'unselectRecords',
              main: 'recordEdit',
              third: 'deleteRecords',
            }
          break
          case 'listMultipleRecordsSelected':
            newActions = {
              second: 'unselectRecords',
              main: '',
              third: 'deleteRecords',
            }
          break

          case 'recordAdd':
            switch( panel.categoryPanelState ){

              case 'categoryAdd':
              case 'categoryEdit':
                newActions = panel.getCategoryPanelActions()
              break

              default:
                switch( panel.recordPanelState ){
                  case 'selectDate':
                    newActions = {
                      second: 'cancelAnotherDate',
                      main: 'saveAnotherDate',
                      third: '',
                    }
                  break
                  default:
                    newActions = {
                      second: 'saveYesterday',
                      main: 'saveToday',
                      third: 'selectAnotherDate',
                    }
                  break
                }
              break
            }
          break

          case 'recordEdit':
            switch( panel.categoryPanelState ){

              case 'categoryAdd':
              case 'categoryEdit':
                newActions = panel.getCategoryPanelActions()
              break

              default:
                switch( panel.dateSelectState ){
                  case '':
                    newActions = {
                      second: 'deleteRecord',
                      main: 'saveRecord',
                      third: 'selectAnotherDate',
                    }
                  break
                  case 'selectDate':
                    newActions = {
                      second: 'cancelAnotherDate',
                      main: 'saveAnotherDate',
                      third: '',
                    }
                  break
                }
              break
            }
          break

        }

        panel.actions = newActions;
        (debug) ? console.log("newActions:", newActions.main, newActions.second, newActions.third ) : false;

      }, timeout )
    },

    getCategoryPanelActions() {
      let newActions

      switch( this.categoryPanelLocalState ){
        case 'categoryColor':
          newActions = {
            second: ( this.categoryPanelState == 'categoryAdd' ) ? 'cancelCategoryAdd' : 'cancelCategoryEdit',
            main: 'saveCategory',
            third: 'showSelectGroup',
          }
        break
        case 'categoryName':
          newActions = {
            second: 'cancelSelectIcon',
            main: 'saveCategory',
            third: 'showColors',
          }
        break
        case 'selectGroup':
          newActions = {
            second: '',
            main: '',
            third: 'cancelSelectGroup',
          }
        break
        case 'selectIconInitial':
          newActions = {
            second: ( this.categoryPanelState == 'categoryAdd' ) ? 'cancelCategoryAdd' : 'cancelCategoryEdit',
            main: '',
            third: '',
          }
        break
        case 'selectIcon':
          newActions = {
            second: 'cancelSelectIcon',
            main: '',
            third: '',
          }
        break
      }

      return newActions
    },

    performAction(action) {
      performAction(action)
    },

  },


}
</script>
