<template>

  <section
    class="recordPanel panel"
    :class="{
      show: showAddRecordPanel,
      showCalcOrCatSelect: state != 'name',
    }"
    @scroll.prevent.stop="retFalse($event)"
    @mousewheel.prevent.stop="retFalse($event)"
    @touchmove.prevent.stop="retFalse($event)"
  >

    <div
      class="recordPanelOverlay"
      @click.prevent.stop="cancel()"
      @scroll.prevent.stop="retFalse($event)"
      @mousewheel.prevent.stop="retFalse($event)"
      @touchmove.prevent.stop="retFalse($event)"
    ></div>

    <div class="closeButton">
      <button
        @click="cancel()"
      >
        <span>&times;</span>
      </button>
    </div>

    <label
      class="moneyField money"
      :class="[
        currentRecord.sign,
        { error: expressionError }
      ]"
      for="money"
    >

      <div
        class="field"
        :class="{ plus: currentRecord.sign == 'plus', showSumm: showSumm }"
      >

        <input
          ref="expression"
          class="expression"
          :class="{
            showSumm: showSumm ,
            inFocus: state == 'calculator',
            error: expressionError,
          }"
          @focus.prevent.stop="focusOn('calculator')"
          @focusin.prevent.stop="focusOn('calculator')"
          @mousedown.prevent.stop="focusOn('calculator')"
          @keyup="checkKey($event)"
          v-model="expression"
          autofocus
        >

        <div
          class="bottomline"
          :class="{ showSumm: showSumm }"
        >{{ summ }}</div>

      </div>

      <div
        class="plusminus"
        @click="changeSign()"
      >
        <div class="wrap">
          <span class="back" :class="currentRecord.sign"></span>
          <span class="handle" :class="currentRecord.sign"></span>
        </div>
      </div>
    </label>

    <div class="nameAndCat">

      <div class="categoriesField">

        <i
          v-show="currentRecord.categories[0] != 0"
          v-for="id in selectedCategories"
          class="catIcon"
          :class="[
            categories[id].icon,
            categories[id].color,
          ]"
          @click="clickOnCatInput(id)"
        ></i>

        <i
          class="addCategory catIcon icon-plus"
          :class="{
            initial: currentRecord.categories[0] == 0,
            inactive: Object.keys( currentRecord.categories ).length == 3
          }"
          @click="clickOnCatInput()"
        ></i>

        <span
          :class="{
            initial: currentRecord.categories[0] == 0,
            inactive: currentRecord.categories[0] != '0'
          }"
          @click="clickOnCatInput()"
        >добавить категорию</span>

      </div>

      <div class="name">
        <input
          ref="name"
          v-model="newName"
          :placeholder="currentRecord.name"
          @keyup="checkName()"
          @focus="focusOn('name')"
          @focusin="focusOn('name')"
          @focusout="checkName()"
          type="text"
        >
      </div>

    </div>

    <div
      class="calculator"
      :class="{
        show: state == 'calculator' || state == 'init'
      }"
    >
      <div class="row">
        <div @click="keyPress('/')" class="mono"><b>&divide;</b></div>
        <div @click="keyPress('7')" class="mono"><b>7</b></div>
        <div @click="keyPress('8')" class="mono"><b>8</b></div>
        <div @click="keyPress('9')" class="mono"><b>9</b></div>
      </div>
      <div class="row">
        <div @click="keyPress('*')" class="mono"><b>&times;</b></div>
        <div @click="keyPress('4')" class="mono"><b>4</b></div>
        <div @click="keyPress('5')" class="mono"><b>5</b></div>
        <div @click="keyPress('6')" class="mono"><b>6</b></div>
      </div>
      <div class="row">
        <div @click="keyPress('-')" class="mono"><b>&minus;</b></div>
        <div @click="keyPress('1')" class="mono"><b>1</b></div>
        <div @click="keyPress('2')" class="mono"><b>2</b></div>
        <div @click="keyPress('3')" class="mono"><b>3</b></div>
      </div>
      <div class="row">
        <div @click="keyPress('+')" class="mono"><b>+</b></div>
        <div @click="keyPress('.')" class="mono"><b>.</b></div>
        <div @click="keyPress('0')" class="mono"><b>0</b></div>
        <div @click="keyPress('backspace')"><b>⌫</b></div>
      </div>
    </div>

    <div
      class="catSelect"
      :class="{ show: state == 'categories' }"
    >

      <div class="flex">

        <div class="groups">
          <div
            v-for="group in groups"
            :class="{
              active: currentCategoryGroup == group.id,
              inactive: Object.keys( group.categories ).length = 0,
              disabled: group.id == 999,
            }"
            @click="selectCatGroup( group.id )"
          >
            <i
              v-show="group.icon.length > 1"
              class="icon"
              :class="'icon-'+group.icon"
            ></i>
            <span v-if="group.icon.length == 1">{{ group.icon }}</span>
          </div>
        </div>

        <div
          class="categories noScrollBubbling"
          :class="{ empty: ! Object.keys( groups[currentCategoryGroup].categories ).length }"
          @scroll.stop.capture="preventScroll( $event )"
          @mousewheel.stop.capture="preventScroll( $event )"
          @touchstart.stop.capture="preventScroll( $event )"
          @touchmove.stop.capture="preventScroll( $event )"
        >

          <div
            class="group"
            v-for="group in groups"
            v-show="group.id == currentCategoryGroup"
          >

            <div
              v-for="id in group.categories"
              v-show="id != 0"
              :class="{ selected: isCategorySelected(id) }"
              @click="selectCategory(id)"
            >
              <i
                class="catIcon"
                :class="[
                  categories[id].icon,
                  categories[id].color,
                ]"
              ></i>
              <span
                :class="categories[id].color+'-text'"
              >{{ categories[id].name }}</span>
            </div>

            <div
              class="addCategory"
              @click="addNewCategory()"
            >
              <i class="catIcon icon-plus"></i>
              <span>Новая категория</span>
            </div>

          </div>

        </div>

      </div>

    </div>

    <date-select></date-select>

  </section>

</template>

<script>
import dateHumanize from '../functions/dateHumanize'
import dateSelect from './dateSelect'
import performAction from '../functions/performAction'

export default {
  name: 'recordPanel',
  components: {
    dateSelect
  },

  data () {
    return {
      title: 'Новая запись',
      rememberedOffset: 0,

      newName: '',
      defaultPlaceholder: 'Новая запись',

      expression: '0',
      expressionError: false,
      summ: '',
      showSumm: false,

      selectedCategories: {},
      selectNameFieldAfterFirstCategory: true,
    }
  },


  computed: {

    appState() { return store.state.appState },
    state() { return store.state.recordPanelState },

    currentRecordPosition() { return store.state.currentRecordPosition },
    currentRecord() {
      if( store.state.records[ store.state.currentRecordPosition ] ){
        return store.state.records[ store.state.currentRecordPosition ]
      }else if( store.state.records[0] ){
        return store.state.records[0]
      }else{
        return store.state.blankRecord
      }
    },

    currentCategoryGroup() { return store.state.currentCategoryGroup },
    categories() { return store.state.categories },
    groups() { return store.state.groups },

    showAddRecordPanel() {
      if(
        this.appState == 'recordAdd' ||
        this.appState == 'recordEdit'
      )
        return true
      else
        return false
    },

  },


  created() {
    let panel = this

    Vue.nextTick( function() {
      //panel.$refs.expression.focus()
    })
  },

  watch: {

    showAddRecordPanel: function() {
      this.preparePanel()
    },

    summ: function() {
      let panel = this
      let show =  /-|\+[0-9]/.test( this.expression )
      let change = {}
      let buttons = {}
      panel.showSumm = show

      if(
        panel.appState == 'recordAdd' ||
        panel.appState == 'recordEdit'
      ){
        if( panel.summ == '' || panel.summ == 0 || typeof panel.summ == 'undefined' ){
          panel.summ = 0
          panel.expression = '0'

          store.commit( 'setRecordPanelState', 'init' )

          change.price = 0
          change.negative = false
          change.finalsign = 'neutral'

        }else{
          if( panel.summ >= 0 ){
            change.price = panel.summ
            change.negative = false
            if(debug) console.log( 'summ >= 0, negative: false')
          }else{
            change.negative = true;
            change.price = -panel.summ
            if(debug) console.log( 'summ less than zero, negative: true')
          }

          if( panel.currentRecord.finalsign == 'neutral' ){
            change.finalsign = panel.currentRecord.sign
          }
          if( change.negative ){
            change.finalsign = ( panel.currentRecord.sign == 'minus' ) ? 'plus' : 'minus'
            if(debug) console.log( 'finalsign:', change.finalsign )
          }

          if( panel.state != 'calculator' ){
            store.commit( 'setRecordPanelState', 'calculator' )
          }
        }

        store.commit( 'changeRecord', change )
      }
    },

  },

  methods: {

    dateHumanize(date) { return dateHumanize(date) },
    selectCatGroup(id) {
      let panel = this
      if(debug) console.log( 'selectCatGroup fired', id )
      store.commit( 'setCurrentCategoryGroup', id )
    },
    retFalse(event) {
      event.preventDefault()
      event.stopPropagation()
      return false
    },

    preparePanel() {
      let panel = this

      // if(debug) console.log( 'preparePanel', panel.appState )

      switch( panel.appState ){

        case 'recordAdd':
          panel.newName = ''
          panel.expression = '0'
          panel.expressionError = false
          panel.summ = ''
          panel.showSumm = false
          panel.selectedCategories = { 0: 0 }
          panel.selectNameFieldAfterFirstCategory = true
          store.commit( 'setCurrentCategoryGroup', 0 )
          store.commit( 'setRecordPanelState', 'init' )
          document.title = this.title+store.state.titleAdd
        break

        case 'recordEdit':
          let id = Object.keys( store.state.recordsSelected )[0]
          store.commit( 'setCurrentRecordID', id )
          panel.expression = panel.currentRecord.price
          panel.newName = panel.currentRecord.name
          panel.selectedCategories = panel.currentRecord.categories
          store.commit( 'setRecordPanelState', 'name' )
          panel.checkName()
          store.commit('unselectRecords')
          store.commit( 'scrollToCurrentRecord' )
          store.commit( 'saveCurrentRecordState' )
          document.title = this.title+store.state.titleAdd
        break

      }
    },

    cancel() {
      if(debug) console.log('cancel() fired')
      switch( this.appState ){

        case 'recordAdd':
          performAction('cancelRecordAdd')
        break

        case 'recordEdit':
          performAction('cancelRecordEdit')
        break

      }
    },

    preventScroll(event) {
      let el = document.querySelector('.noScrollBubbling') // @TODO look not through document, but through `path` parameter of event
      let movingUp = false
      let movingDown = false
      let reachedTop = el.scrollTop == 0
      let reachedBottom = el.scrollTop == el.scrollHeight - el.clientHeight
      let current
      let start

      event.stopPropagation()

      // if(debug) console.log( 'preventScroll', 'event.type:', event.type, event )
      // if(debug) console.log(
      //   'preventScroll fired',
      //   'target:', event.target,
      //   'scrollHeight', el.scrollHeight,
      //   'scrollTop', el.scrollTop,
      //   'clientHeight', el.clientHeight,
      // )

      switch( event.type ){

        case 'wheel':
        case 'mousewheel':
          // if(debug) console.log('switch wheel')
          movingUp = event.deltaY < 0
          movingDown = event.deltaY > 0
        break

        case 'scroll':
          // if(debug) console.log('switch scroll')
          if( event.deltaY ){
            movingUp = event.deltaY < 0
            movingDown = event.deltaY > 0
          }else{
            start = window.prevScroll
            current = window.pageYOffset
            movingUp = current < start
            movingDown = current > start
          }
          window.prevScroll = window.pageYOffset
        break

        case 'touchstart':
          // if(debug) console.log('switch touchstart')
          window.touchstartTouches = event.touches
        break

        case 'touchend':
          if(debug) console.log('switch touchend')
          // return true
        break

        case 'touchmove':
          // if(debug) console.log('switch touchmove')
          for( let i=0; i < event.touches.length; i++ ){
            start = touchstartTouches[i].clientX
            current = event.touches[i].clientX
            movingUp = current < start
            movingDown = current > start
            if( movingUp || movingDown ) break
          }
          el.touchend = function(event) {
            return true
          }
        break

        default:
          // if(debug) console.log('switch default')
      }

      // if(debug) console.log(
      //   'deltaY', event.deltaY, 'deltaY > 0', event.deltaY > 0, 'deltaY < 0', event.deltaY < 0,
      //   '\nstart', start, 'cur', current,
      //   '\nreachedTop', reachedTop, 'movingUp', movingUp,
      //   '\nreachedBottom', reachedBottom, 'movingDown', movingDown,
      // )

      if(
        reachedTop && movingUp ||
        reachedBottom && movingDown
      ){
        event.preventDefault()
        // if(debug) console.log(
        //   '!!! preventing scroll !!!',
        // )
        return false
      }

    },


    focusOn(value) {
      let panel = this

      if( value != 'calculator' ){
        if( panel.expression != '' && panel.expression != '0' ){
          if( panel.state != value){
            store.commit( 'setRecordPanelState', value )
          }

          if( value == 'name' ){
            panel.$refs.name.focus()
          }
          if( value != 'dateSelect' ){
            store.commit( 'setDateSelectState', '' )
          }
        }else{
          if( value == 'name' ){
            panel.$refs.name.blur()
          }
          panel.focusOn('calculator')

          // Drawing attention to expression field
          panel.expressionError = true
          setTimeout( function() {
            panel.expressionError = false
          }, 250 )
        }
      }else{
        panel.$refs.name.blur()
        if( panel.state != value ){
          store.commit( 'setRecordPanelState', value )
        }
      }

      panel.checkName()
    },

    changeSign() {
      let panel = this
      let change = {}
      let sign = panel.currentRecord.sign

      Vue.nextTick( function() {
        change.sign = ( sign == 'minus' ) ? 'plus' : 'minus'
        if(debug) console.log( "current sign", sign , "new sign", change.sign, "negative?", panel.currentRecord.negative )

        if( panel.currentRecord.price != 0 ){
          if( panel.currentRecord.negative ){
            change.finalsign = ( change.sign == 'minus' ) ? 'plus' : 'minus'
          }else{
            change.finalsign = change.sign
          }
          if(debug) console.log("finalsign", change.finalsign )
        }

        store.commit( 'changeRecord', change )

        // this.$refs.expression.focus() // TODO
      })
    },

    checkKey(event) {
      let panel = this
      let action = false;
      if(debug) console.log("checkKey:", event)

      switch( event.key ) {

        case 'Escape':
        case '`':
        case '~':
        case 'ё':
        case 'Ё':
          this.changeSign();
        break

        case 'Enter':
          action = 'enter'
        break

      }

      panel.calculate( action )
    },

    keyPress(key) {
      let panel = this
      if(debug) console.log( "key:", key )

      if( key != 'backspace' ){
        panel.expression += key
      }else{
        panel.expression = panel.expression.substring( 0, panel.expression.length - 1 )
      }
      panel.calculate()
      // panel.$refs.expression.focus()
    },

    calculate(action) {
      let panel = this
      let exp = panel.expression;

      if(debug) console.log('calculate, this.summ before:', this.summ)

      if( exp == '' || exp == 0 || exp == '0' ){
        panel.summ = 0
      } else if ( /^[1-9]+$/.test( exp ) ) {
        panel.summ = exp
      } else {

        exp = ( exp == '' ) ? 0 : exp

        // Cleaning expression from unnecessary symbols
        exp = exp.replace( /[^0-9-+*\/=\\\.\,]/g, '' )
        exp = exp.replace( /^0(\d*)/, '$1' )
        exp = exp.replace( /=/g, '+' )
        exp = exp.replace( /,/g, '.' )
        exp = exp.replace( /\\/g, '/' )
        exp = exp.replace( /\-\-/g, '-' )
        exp = exp.replace( /\+\+/g, '+' )
        exp = exp.replace( /\*\*/g, '\*' )
        exp = exp.replace( /\/\//g, '\/' )
        exp = exp.replace( /(\.\d)\./g, '$1' )
        panel.expression = exp;

        let numbers = exp.split( /\+|\-|\/|\*/ )
        let signs = exp.split( /[0-9.]+/ )

        // cleaning signs array from empty elements
        for( let i=signs.length; i > 0; i-- ){
          if (signs[i] == '') {
            signs.splice(i,1);
          }
        }
        signs.splice(0,1);

        if( numbers[ numbers.length-1 ] == '' ){
          numbers.splice(-1,1);
          signs.splice(-1,1);
        }

        if( signs.length > 0 ){

          // multiplying and dividing
          for( let i=0; i < signs.length; i++ ){
            switch( signs[i] ) {

              case '*':
                numbers[i] = numbers[i] * numbers[i+1]
                numbers.splice(i+1,1)
                signs.splice(i,1)
                i--
              break

              case '/':
                numbers[i] = numbers[i]*100 / numbers[i+1]*100 / 10000
                numbers.splice(i+1,1)
                signs.splice(i,1)
                i--
              break

            }
          }

          let summ = new Number( numbers[0] )
          for( let i=0; i < numbers.length; i++ ){
            if( numbers[i+1] ){
              switch( signs[i] ){

                case '+':
                  summ += new Number( numbers[i+1] )
                break;

                case '-':
                  summ -= new Number( numbers[i+1] )
                break;

              }
            }
          }

          panel.summ = Math.round(summ*100)/100;

        }else{
          panel.summ = numbers[0]
        }
      }

      if(debug) console.log('calculate, this.summ after:', this.summ)

    },

    clickOnCatInput(id) {
      let panel = this
      if( panel.state == 'categories' && id ){
        if(debug) console.log('clickOnCatInput, id=', id)
        panel.selectCategory(id)
      }
      panel.focusOn('categories')
    },

    isCategorySelected(id) {
      let panel = this
      for( let i in panel.selectedCategories ){
        if( id == panel.selectedCategories[i] ){
          return true
        }
      }
      return false
    },

    selectCategory(id) {
      let panel = this
      let cats = panel.selectedCategories
      let catsLength = Object.keys(cats).length
      let tempCats
      let change = {}
      let disabling = false

      if( panel.addRecordPanelState != 'categories' ){
        store.commit( 'setRecordPanelState', 'categories' )
      }

      for( let i in cats ){
        if( cats[i] == id ){
          disabling = true
          break
        }
      }

      if( !disabling ){

        if(debug) console.log( 'Enabling', id, 'in cats:', cats, 'cats length', catsLength )
        if( catsLength < 3 ){
          if( cats[0] == 0 ){
            panel.selectedCategories[0] = id
          }else{
            tempCats = {}
            for( let i in cats ){
              tempCats[i] = cats[i]
              tempCats[catsLength] = id
            }
            panel.selectedCategories = tempCats
          }
        }

      }else{

        if(debug) console.log( 'disabling category', id )
        if( catsLength == 1 ){
          panel.selectedCategories[0] = 0
        }else{
          let deleted = false
          tempCats = {}
          for( let i=0; i < catsLength; i++ ){
            if( cats[i] != id ){
              if( !deleted ){
                tempCats[i] = cats[i]
              }else{
                tempCats[i-1] = cats[i]
              }
            }else{
              deleted = true
            }
          }
          panel.selectedCategories = tempCats
        }

      }

      if(debug) console.log( 'selectCatsLogic finished, selected:', panel.selectedCategories )
      change.categories = panel.selectedCategories
      store.commit( 'changeRecord', change )

      if( panel.appState == 'recordAdd' && panel.selectNameFieldAfterFirstCategory ){
        panel.selectNameFieldAfterFirstCategory = false
        store.commit( 'setRecordPanelState', 'name' )
        panel.$refs.name.focus()
      }
    },

    checkName() {
      let panel = this;
      let change = {}

      if(debug) console.log( 'checkName fired' )
      if(
        panel.appState == 'recordAdd' ||
        panel.appState == 'recordEdit'
      ){

        if( panel.newName == '' ){
          if(debug) console.log( 'name is empty', panel.currentRecord.categories[0] )
          if( panel.currentRecord.categories[0] == 0 ){
            if(debug) console.log( 'no category selected, setting default name' )
            change.name = panel.defaultPlaceholder
          }else{
            if(debug) console.log( 'setting name of first category' )
            change.name = panel.categories[ panel.currentRecord.categories[0] ].name
          }
        }else{
          if(debug) console.log( 'name NOT empty, setting', panel.newName )
          change.name = panel.newName
        }

        store.commit( 'changeRecord', change )
      }
    },

    addNewCategory() {
      performAction('categoryAdd')
    },

  }
}
</script>
