<template>

  <section
    ref="topPanel"
    class="topPanel panel"
    :class="{ hide: ! show }"
    :style="{
      transform: 'translateY( ' + offset + 'px )',
      transition: transition,
    }"
  >

    <div class="balance">
      <div class="name">Баланс:</div>
      <div class="money">
        <div
          class="summ"
          :class="{
            plus: balance > 0,
            minus: balance < 0
          }"
        >{{ Math.abs(balance) }}</div>
        <div class="plusminus">
          <div class="plus">{{ balancePlus }}</div>
          <div class="minus">{{ balanceMinus }}</div>
        </div>
      </div>
    </div>

<!--     <div class="icons">
      <span class="icon-clock"></span>
      <span class="icon-hammer"></span>
      <span class="icon-down-open"></span>
    </div> -->

  </section>

</template>

<script>
window.topPanelHeight = 0

export default {
  name: 'topPanel',


  data () {
    return {
      show: true,
      init: false,
      offset: 0,
      previousPageYOffset: 0,
      transition: 'none',
    }
  },


  computed: {
    appState() { return store.state.appState },

    balance() { return store.state.balance },
    balancePlus() { return store.state.balancePlus },
    balanceMinus() { return  store.state.balanceMinus },
  },


  created() {
    let panel = this

    Vue.nextTick( function() {
      topPanelHeight = panel.$refs.topPanel.clientHeight + 4
      panel.previousPageYOffset = pageYOffset
      panel.showOrNot()
      panel.init = true
    })
  },


  watch: {

    appState() {
      let panel = this
      panel.showOrNot()
    },

  },


  methods: {

    showOrNot() {
      let panel = this
      let newState = true
      let transitionTime = 330

      if(
        panel.appState == 'recordAdd' ||
        panel.appState == 'recordEdit' ||
        panel.appState == 'categoryAdd' ||
        panel.appState == 'categoryEdit'
      ){
        newState = false
      }

      let stateChanged = (panel.show != newState)
      if( stateChanged || ! panel.init ){
        switch( newState ){

          case true:
            this.offset = 0
            panel.previousPageYOffset = pageYOffset
            setTimeout( function() {
              panel.transition = 'none'
              panel.glueTopPanel(true)
            }, transitionTime )
          break

          case false:
            panel.transition = (transitionTime/1000) + 's ease transform'
            panel.glueTopPanel(false)
          break
        }

        // if(debug) console.log( 'topPanel showOrNot fired, show:', newState )
        panel.show = newState
      }
    },

    glueTopPanel(glue) {
      let panel = this

      if( !glue ){
        document.onscroll = null
      }else{
        document.onscroll = function() {
          // if(debug) console.log( 'topPanelHeight:', topPanelHeight, 'pageYOffset:', pageYOffset, 'offset:', panel.offset, panel.previousPageYOffset )

          if( pageYOffset < panel.previousPageYOffset ){
            // scrolling up
            if( panel.offset < 0 ){
              panel.offset = panel.offset - pageYOffset + panel.previousPageYOffset
            }
            if( panel.offset > 0 ){
              panel.offset = 0
            }
          }else{
            // scrolling down
            if( panel.offset >= -topPanelHeight ){
              panel.offset = panel.offset - pageYOffset + panel.previousPageYOffset;
            }
            if( panel.offset < -topPanelHeight ){
              panel.offset = -topPanelHeight;
            }
          }
          panel.previousPageYOffset = pageYOffset;
        }
      }
    },

  },


}
</script>
