<template>
  <div id="app">
  	<top-panel></top-panel>
    <router-view></router-view>
    <main-buttons></main-buttons>
  </div>
</template>

<script>
import topPanel from './components/topPanel'
import mainButtons from './components/mainButtons'

export default {
  name: 'app',
  components: {
    topPanel,
    mainButtons,
  },
}
</script>

<style lang='scss'>
  @import './styles/app';
</style>
